.cachetool {
  height: 100%;

  .bp3-card {
    margin: 2.2rem;

    h1, h2, h3 {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .Loading {
    position: relative;
    transform: unset;
    left: unset;
    margin: auto;
  }
}
