@import "../../static/plastic/plastic_colors.less";

.Color-Browser {
  color: @miami_pink;
}

.Color-Renderer {
  color: @dusty_shale;
}

.Color-Webapp {
  color: @seafoam_neue;
}

.Color-Webview {
  color: @aussie_yellow;
}

// Using a method allows us to alias
@browser_color: @miami_pink;
@renderer_color: @dusty_shale;
@webapp_color: @seafoam_neue;
@webview_color: @aussie_yellow;
