.Comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.625rem;
  color: rgb(61, 60, 64);
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.0901961);
  border-right: 1px solid rgba(0, 0, 0, 0.0980392);
  border-left: 1px solid rgba(0, 0, 0, 0.0980392);
  border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
  border-radius: 6px;
  padding: 12px 25px 12px 12px;
  width: 100%;

  .Avatar {
    height: 50px;
    width: 50px;
    border-radius: .2rem;
    flex-shrink: 0;
    background-size: cover;
  }

  .Text {
    padding-left: 10px;

    .Name {
      font-weight: 900;
      color: #2C2D30;
      line-height: 18px;
    }

    .Timestamp {
      color: #9e9ea6;
      font-size: 12px;
      white-space: nowrap;
      margin-left: 20px;
    }
  }
}