@import "../../static/plastic/plastic_colors.less";

.Details {
  background: white;
  border-top: 1px solid @neutral_grey;
  overflow: auto;
  font-size: 1rem;
  flex-grow: 1;
  z-index: 1000;

  .ConvertedTable {
    margin: .5rem 1.5rem 1rem
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;

    &:hover {
      background-color: rgba(50,50,50,.5);
    }
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  ul {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
  }

  .LogLineData {
    p, span {
      user-select: initial;
    }
  }

  .Background {
    width: 100%;
    padding-top: 34.613%;
    position: relative;

    div {
      position: absolute;
      opacity: .4;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../../static/bg.png);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .LogLineMeta, .LogLineData {
    padding: 0 1.5rem 0;
  }

  .close,
  .source {
    padding-left: 10px;
  }

  .level, .type {
    font-weight: 400;
  }

  .level {
    padding-right: 5px;
  }
}

.Scrubber {
  z-index: 1000;
  cursor: ns-resize;
  height: 10px;
  flex-shrink: 0;
  background-color: #ececec;
  width: 100%;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.Details-LogEntry {
  font-size: 1rem;
  margin: .5rem 1.5rem 1rem;
  resize: horizontal;

  .Details-LogType {
    user-select: none;
  }

  .MetaInfo {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 0px 1px;
  }

  .Message {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0.625rem;
    color: rgb(61, 60, 64);
    margin-top: 10px;
    background-color: rgba(255, 247, 235, 0.470588);
    border-top: 1px solid rgba(0, 0, 0, 0.0901961);
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
    border-left: 1px solid rgba(0, 0, 0, 0.0980392);
    border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
    border-radius: 6px;
    padding: 12px 25px 12px 12px;
  }
}
