@import "../../static/plastic/plastic_colors.less";

.Details {
  padding: .5rem 1.5rem 1rem;
  background: white;
  border-top: 1px solid @neutral_grey;
  overflow: auto;
  font-size: 1rem;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;

    &:hover {
      background-color: rgba(50,50,50,.5);
    }
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  ul {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
  }

  .close {
    padding-left: 10px;
  }

  .level, .type {
    font-weight: 400;
  }

  .level {
    padding-right: 5px;
  }
}

.Details-LogEntry {
  font-size: 1rem;

  .MetaInfo {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 0px 1px;
  }

  .Message {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0.625rem;
    color: rgb(61, 60, 64);
    margin-top: 10px;
    background-color: rgba(255, 247, 235, 0.470588);
    border-top: 1px solid rgba(0, 0, 0, 0.0901961);
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
    border-left: 1px solid rgba(0, 0, 0, 0.0980392);
    border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
    border-radius: 6px;
    padding: 12px 25px 12px 12px;
  }
}
