@import "../../static/plastic/plastic_colors.less";

.LogTable {
  padding-top: 100px;
  height: 100%;
  padding: 6.2rem 0 0 0;
  height: 100%;
  font-size: 1rem;
  user-select: none;

  .fixedDataTableCellGroupLayout_cellGroup {
    cursor: pointer;
  }

  &.Single {
    .Meta {
      display: none;
    }
  }

  .Sizer {
    height: 100%;
    padding-left: 2rem;

    .HasWarning {
      height: calc(~"100% - 76px");
    }
  }

  .HasData {
    color: @dark_purple;
  }

  .Meta {
    padding-right: 5px;
  }

  .ReduxIcon {
    height: 18px;
    margin-top: -2px;
  }
}

.fixedDataTableLayout_main {
  border: none;
  outline: none;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  .HighlightRow {
    background-color: @mention_yellow;
    transition: background 0.5s linear;
  }

  .ActiveRow {
    background-color: @mention_yellow;
    transition: background 0.5s linear;
    font-weight: 800;
  }

  .ActiveRow, .HighlightRow  {
    .fixedDataTableCellGroupLayout_cellGroup:hover {
      background-color: @highlight_yellow;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;

    &:hover {
      background-color: rgba(50,50,50,.5);
    }
  }

  &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
  }

  &::-webkit-scrollbar-corner {
      background-color: transparent;
  }

  .ScrollbarLayout_face {
    background-color: @slate_blue_grey;
    border-radius: 10px;
    margin-right: 2px;
    opacity: .4;
    transition: opacity .5s linear;
  }

  .ScrollbarLayout_face:hover, .faceActive {
    opacity: 1;
  }

  .fixedDataTableCellLayout_columnResizerContainer {
    border-left: 1px solid rgba(50,50,50,.25);
  }

  .fixedDataTableRowLayout_body {
    font-size: 1rem;
  }

  .fixedDataTableCellLayout_main {
    border: none;
  }

  .fixedDataTableLayout_header {
    font-weight: 700;
    background-color: #F9F9F9;
    border-bottom-color: @cloud_silver;

    .fixedDataTableCellGroupLayout_cellGroup:hover {
      background-color: initial;
    }
  }

  .fixedDataTableCellGroupLayout_cellGroup:hover {
    background-color: @neutral_white;
  }
}
