@import "../../../node_modules/@blueprintjs/core/lib/less/variables.less";

#LogTableContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.LogTable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2.2rem 2.2rem 0 0;
  font-size: 1rem;
  user-select: none;

  .fixedDataTableCellGroupLayout_cellGroup {
    cursor: pointer;
  }

  &.Single {
    .Meta {
      display: none;
    }
  }

  .Sizer {
    padding-left: 2rem;
    flex-grow: 1;
  }

  .HasData {
    //color: @dark_purple;
  }

  .Meta {
    padding-right: 5px;
  }

  .ReduxIcon {
    height: 18px;
    margin-top: -2px;
  }
}

.fixedDataTableLayout_main {
  border: none;
  outline: none;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  .HighlightRow {
    background-color: @mention_yellow;
    transition: background 0.5s linear;
  }

  .ActiveRow {
    background-color: @mention_yellow;
    transition: background 0.5s linear;
    font-weight: 800;
  }

  .ActiveRow, .HighlightRow  {
    .fixedDataTableCellGroupLayout_cellGroup:hover {
      background-color: @highlight_yellow;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;

    &:hover {
      background-color: rgba(50,50,50,.5);
    }
  }

  &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
  }

  &::-webkit-scrollbar-corner {
      background-color: transparent;
  }

  .ScrollbarLayout_face {
    background-color: @slate_blue_grey;
    border-radius: 10px;
    margin-right: 2px;
    opacity: .4;
    transition: opacity .5s linear;
  }

  .ScrollbarLayout_face:hover, .faceActive {
    opacity: 1;
  }

  .fixedDataTableCellLayout_columnResizerContainer {
    border-left: 1px solid rgba(50,50,50,.25);
  }

  .fixedDataTableRowLayout_body {
    font-size: 1rem;
  }

  .fixedDataTableCellLayout_main {
    border: none;
  }

  .fixedDataTableLayout_header {
    font-weight: 600;
    color: @dark-gray1;
    background-color: @light-gray1;
    border: 1px solid #BABBBF;

    .bp3-icon {
      margin-bottom: 1px;
    }

    .fixedDataTableCellGroupLayout_cellGroup:hover {
      background-color: initial;
    }
  }

  .fixedDataTableCellGroupLayout_cellGroup:hover {
    background-color: @neutral_white;
  }

  .fixedDataTableCellLayout_wrap1 {
    width: calc(100% - 20px);
    display: inline-block;
    line-height: 25px;

    a {
      display: block;
      color: @dark-gray1;
    }
  }

  .fixedDataTableCellLayout_columnReorderContainer {
    height: 26px!important;
    width: 13px;
    display: inline-block;
    margin: 0;
  }

  .fixedDataTableCellLayout_columnReorderContainer:hover::after {
    color: @black;
  }

  .fixedDataTableCellLayout_columnReorderContainer::after {
    content: " \22EE";
    top: 3px;
    position: absolute;
  }

  .public_fixedDataTableCell_hasReorderHandle {
    .fixedDataTableCellLayout_wrap2,
    .fixedDataTableCellLayout_wrap3 {
      vertical-align: bottom;
    }
  }
}
