@import "../../static/plastic/plastic_colors.less";

.LogView {
  .headroom {
    width: 100vw;

    .Engaged {
      color: @miami_pink;
    }
  }
}

.SidebarIsOpen {
  .headroom {
    width: calc(~"100vw - 280px");
  }
}