.Welcome {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  .Suggestions {
    margin-bottom: 30px;

    a {
      padding-right: 1rem;
    }
  }

  h1 {
    font-size: 4rem;
  }
}

.Welcome:after {
  content: "";
  background: url('../../../static/bg.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}