#tab-list,
#events-view-filter-box,
#events-view-splitter-box {
  top: 0!important;
}

#events-view-source-list-table td {
  border-left: 1px solid rgba(16, 22, 26, 0.05)!important;
  border-bottom: 1px solid rgba(16, 22, 26, 0.05)!important;
}

.bp3-dark #timeline-view-graph-canvas,
.bp3-dark #timeline-view-selection-ul,
.bp3-dark #events-view-source-list-table,
.bp3-dark #events-view-filter-box,
.bp3-dark #timeline-view-graph-div {
  filter: invert(.9);
}

.bp3-dark #events-view-source-list-table {
  color: #000;
}

.bp3-dark .vertical-splitter {
  border-left: 1px solid #4a4a4a;
}

.bp3-dark #tab-list {
  border-right: 1px solid #4a4a4a;
}

.bp3-dark #tab-list a, #tab-list a:visited {
  color: #f5f8fa;
}

.bp3-dark #tab-list #tab-list a.selected {
  color: #fff;
}

.bp3-dark .styled-table th {
  background-color: #202b33;
}
